* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "poppins", sans-serif;
    --color1: #fff;
    --color2: #181818;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: rgba(0, 0, 0, .7);
    /* background-color: var(--color2); */
    padding: 30px 60px;

}

.logo img {
    width: 60px;
    /* color: #fff; */
}



.logo {
    /* color: white; */
}


.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
    /* color: #fff; */
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;

}

/* UNDERLINE HEADER (Content) */
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/* HAMBURGER BUTTON */
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;

}

#check {
    display: none;
}

@media(max-width: 768pX) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;

    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

}


/* COPIED */





/* SECTION (BODY) */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(coffe1.jpeg);
    background-color: rgba(0, 0, 0, .7);
    /* blend your image */
    background-blend-mode: darken;
    /* blend your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fine-man {
    /* padding: 80px 10px 0; */
    display: grid;
    /* align-content: center; */
    justify-items: center;
    /* align-items: center; */
    grid-template-columns: 10fr 1fr;
    /* background-color: gainsboro; */

}

/* MEDIA QUERY */
@media(max-width: 768pX) {
    .fine-man {
        position: relative;
        width: 100%;
        height: auto;
        /* padding: 80px 10px 0; */
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* SECTION BODY */
.home .content {
    width: 60%;
    height: auto;
    /* min-width: 600px; */
    color: white;
    /* background-color: teal; */
    /* align-self: ; */

}








/* BODY FOR SERVICES */

.password {
    color: #fff;
    align-items: center;
    /* align-items: center; */
    letter-spacing: .04em;
    padding: 15px 20px;
    font-size: 20px;
    margin-left: -400px;
    /* grid-row: 400px; */
    background-color: rgba(0, 0, 0, 0.521);
    width: 500px;
    border: 150px black;
    padding: 50px;
    /* margin: 20px; */

}

.pass2 {
    color: burlywood;
}

.pass3 {
    color: white;
    align-items: center;
    /* align-items: center; */
    letter-spacing: .04em;
    padding: 10px 10px;
    font-size: 20px;
    /* flex-direction: row; */
    /* margin-left: -900px; */
    background-color: rgba(0, 0, 0, 0.521);
    width: 500px;
    border: 150px black;
    padding: 50px;
    margin-right: 200px;



}

@media(max-width: 768pX) {
    .password {
        color: #fff;
        align-items: center;
        /* align-items: center; */
        letter-spacing: .04em;
        padding: 10px 15px;
        font-size: 10px;
        justify-content: left;
        /* margin-left: 90px; *margin-left: -400px;
            /* grid-row: 400px; */
        background-color: rgba(0, 0, 0, 0.521);
        width: 400px;
        border: 150px black;
        padding: 50px;
        margin-left: -400px;

    }
        .pass3 {
            color: white;
            align-items: center;
            /* align-items: center; */
            letter-spacing: .04em;
            padding: 10px 15px;
            font-size: 10px;
            /* flex-direction: row; */
            /* margin-left: -900px; */
            background-color: rgba(0, 0, 0, 0.521);
            width: 400px;
            border: 100px black;
            padding: 50px;
            margin-right: 400px;
    
    
    
        }
}